extends layout

block content
  canvas(id="bg-canvas")
  audio(id="audio")
  div(class="centered-element")
    div(class="ui centered three column grid")
      div(class="column")
        button(class="ui circular huge icon button positive" onclick="rateGood()")
          i(class="thumbs up icon")
      div(class="column")
        button(class="ui circular huge icon button" onclick="nextTrack()")
          i(class="step forward icon")
      div(class="column")
        button(class="ui circular huge icon button negative" onclick="rateBad()")
          i(class="thumbs down icon")
    br
    br
    div(class="ui centered four column grid")
      div(class="column")
        button(class="ui circular icon button")
          i(class="thumbs up icon")
      div(class="column")
        button(class="ui circular icon button")
          i(class="thumbs up icon")
      div(class="column")
        button(class="ui circular icon button")
          i(class="thumbs up icon")
 
block scripts  
  script(src="/js/socket.js")
  script(src="/js/audio.js")
