doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js")
    script(src="/js/siriwave.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/granim/1.0.6/granim.min.js")
  body
    block content
    block scripts
    
