html *:not(.icon) {
  font-family: "Roboto"!important;
}

body {
  overflow: hidden;
  background-color: #333;
}

.modal {
  min-width: 320px;
}

.track-header {
  position: relative;
  width: 100%;
  top: 16px;
}

#menu-header {
  margin:0!important;
}

.column {
  text-align: center;
}

.no-padding {
  padding: 0!important;
}

.progress .bar {
  min-width: 0!important;
}

.progress {
  margin: 0!important;
}

.inline {
  display: inline!important;
}

.start-modal .sub.header {
  margin: 0.5rem!important;
}

.start-modal>.content.hello-content {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-stats .grid {
  position:relative;
}

.column-genre {
  line-height: 3!important;
}

#bg-canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#mute-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

#orpheus {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  top: 0;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.5);
}

.thin {
  font-weight: 100!important;
}

#progress-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: black;
  opacity: 0.12;
}

.container {
  height: 100%;
}

#controls {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 16px;
  min-width: 320px;
}