body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #fcfcfc;
}

.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bg-canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  z-index: -1;
}